

/*ztreeTab*/
.ztree li ul{
	margin:0; 
	padding:0 0 0 18px
}
.ztree li{
	white-space:nowrap; 
	outline:0
}
.ztreeH{
	width:223px;
	overflow: auto;
	padding-top:5px;
}
.ztreeTab ul ,.ztreeTab li{
	margin:0;
	padding:0;
	list-style:none;
}
ul.ztreeTab{
	margin:0;
	padding:0 0 0 15px;
}
.newtreeTab .treeHomename{
	vertical-align:-2px;
	*vertical-align:0;
	*margin-left:5px;
}
.ztreeTab li ul {
    margin: 0;
    padding: 0 0 0 18px;
}
.ztree li span.button{
	background-image: url("./img/jingoal_newtree.png?v=2");
	display: inline-block;
	vertical-align: middle;
	background-repeat: no-repeat;
	cursor:pointer;
}
.ztree li span.button.root_open,.ztree li span.button.center_open,.ztree li span.button.bottom_open{
	background-position:-17px -33px;width:18px;height:15px;
}
.ztree li span.button.root_ico_open, .ztree li span.button.root_ico_close{
	background-position: -4px -17px;width:20px;height:15px;*margin-left:3px;
}
.ztree li span.button.center_close,.ztree li span.button.root_close,.ztree li span.button.bottom_close{
	background-position: -35px -33px;width:18px;height:15px;
}
.ztree li span.button.center_docu,
.ztree li span.button.bottom_docu{
	width:0;
	height:0;
}
.ztree li span.button.ico_close,
.ztree li span.button.ico_open,
.ztree li span.button.dept_ico_close,
.ztree li span.button.dept_ico_open,
.ztree li span.button.dept_ico_docu{
	background-position: -25px -17px;width:18px;height:15px;*margin-left:3px;
}
.ztree li span.button.chk.checkbox_false_full{
	background-position:0 -1px;width:18px;height:14px;
}
.ztree li span.button.chk.checkbox_true_full{
	background-position:-21px -1px;width:18px;height:14px;
}
.ztree li span.button.chk.checkbox_false_full_focus {
	background-position:0 -1px;width:18px;height:14px;
}
.ztree li span.button.chk.checkbox_true_full_focus {
	background-position:-21px -1px;width:18px;height:14px;
}
.ztree li span.button.chk.checkbox_true_part{
	background-position:-75px -1px;width:18px;height:14px;
}
.ztree li span.button.chk.checkbox_true_part_focus{
	background-position:-75px -1px;width:18px;height:14px;
}
.ztree li a {
	padding:0 3px 0 0; 
	cursor:pointer; 
	height:22px; 
	color:#333; 
	background-color: transparent;
	border:1px solid transparent;
	text-decoration:none; 
	display: inline-block
}
.ztree li a.curSelectedNode {
	padding-top:0; 
	background-color:#d9edff; 
	color:#000; 
	height:22px; 
	border:1px solid #bcd6f0; 
	opacity:0.8;
}
.ztree li span {
	vertical-align:-2px;
	*vertical-align:0;
	*margin-left:5px;
}
.ztree li span.button.ico_docu{
	background-position: -65px -17px;width:16px;height:16px;cursor:default;
}







